@model Image

@{
    ViewData["Title"] = "Delete Image";
}

<h2>Delete Image</h2>

<div class="layui-form-item">
    <label class="layui-form-label">ID</label>
    <div class="layui-input-block">
        <input type="text" value="@Model.Id" readonly>
    </div>
</div>
<div class="layui-form-item">
    <label class="layui-form-label">File Name</label>
    <div class="layui-input-block">
        <input type="text" value="@Model.FileName" readonly>
    </div>
</div>
<div class="layui-form-item">
    <label class="layui-form-label">Content Type</label>
    <div class="layui-input-block">
        <input type="text" value="@Model.ContentType" readonly>
    </div>
</div>
<div class="layui-form-item">
    <div class="layui-input-block">
        <form asp-action="DeleteConfirmed" method="post">
            <input type="hidden" name="id" value="@Model.Id">
            <button type="submit" class="layui-btn layui-btn-danger">Delete</button>
        </form>
    </div>
</div>
<a class="layui-btn layui-btn-normal" href="/Image/Index">Back to List</a>