@model Image

@{
    ViewData["Title"] = "Edit Image";
}

<h2>Edit Image</h2>

<form asp-action="Edit" method="post" enctype="multipart/form-data">
    <input type="hidden" name="id" value="@Model.Id">
    <div class="layui-form-item">
        <div class="layui-upload">
          <button type="button" class="layui-btn" id="test1">上传图片</button>
          <div class="layui-upload-list">
            <img class="layui-upload-img" id="demo1">
            <p id="demoText"></p>
          </div>
          <div style="width: 95px;">
            <div class="layui-progress layui-progress-big" lay-showpercent="yes" lay-filter="demo">
              <div class="layui-progress-bar" lay-percent=""></div>
            </div>
          </div>
        </div>   

    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button type="submit" class="layui-btn layui-btn-normal">Update</button>
        </div>
    </div>
</form>

<script src="https://cdn.bootcdn.net/ajax/libs/layui/2.6.8/layui.js"></script>
<script>
    layui.use(['form', 'upload', 'element', 'layer'], function () {
        var form = layui.form,
            upload = layui.upload,element = layui.element,layer = layui.layer;
        
            //常规使用 - 普通图片上传
          var uploadInst = upload.render({
            elem: '#test1',
            url: '/Image/Edit',//此处用的是第三方的 http 请求演示，实际使用时改成您自己的上传接口即可。
            accept: 'images', // 只允许上传图片
            exts: 'jpg|jpeg|png|gif', // 允许的图片扩展名
            auto: false, // 不自动上传
            before: function(obj){
              obj.preview(function(index, file, result){
                $('#demo1').attr('src', result); //图片链接（base64）
              });
      
              element.progress('demo', '0%'); //进度条复位
              layer.msg('上传中', {icon: 16, time: 0});
            }
            ,done: function(res){
              //如果上传失败
              if(res.code > 0){
                return layer.msg('上传失败');
              }
              //上传成功的一些操作
              //……
              $('#demoText').html(''); //置空上传失败的状态
            }
            ,error: function(){
              //演示失败状态，并实现重传
              var demoText = $('#demoText');
              demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-xs demo-reload">重试</a>');
              demoText.find('.demo-reload').on('click', function(){
                uploadInst.upload();
              });
            }
            //进度条
            ,progress: function(n, elem, e){
              element.progress('demo', n + '%'); //可配合 layui 进度条元素使用
              if(n == 100){
                layer.msg('上传完毕', {icon: 1});
              }
            }
          });  
            
            
        //    //普通图片上传
        //var uploadInst = upload.render({
        //    elem: '.layui-upload-file',
        //    //url: '/upload/',
        //    exts: 'jpg|png|gif',
        //    done: function (res) {
        //        //上传完毕回调
        //        console.log(res);
        //    },
        //    error: function () {
        //        //请求异常回调
        //    }
        //});

        //监听提交事件
        form.on('submit(upload)', function (data) {
            console.log(data.field) //获取提交的表单数据
            return false; //阻止表单跳转
        });
    });

</script>